.jumbotron {
  background-image: url("../img/cama.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120rem;
  height: 30rem;
}
.icono img {
  width: 100%;
}
.icono,
.lista {
  /* border: 1px solid gray;*/
}
.lista img {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
}
.lista button {
  width: 100%;
}
.lista {
  width: 90%;
  border-radius: 10px;
}
.row-iconos {
  margin-bottom: 5rem;
}

/*------------cards-------------*/
.card-hotel {
  flex: 1 200px;
}
.btn-reverse {
  width: 100%;
  border-radius: 0px;
}

/**/
/*----------------------footer------------------*/

#recurso1 a {
  color: #fff;
}
#recurso2 a {
  color: #fff;
}
#recurso3 a {
  color: #fff;
}
#recurso4 a {
  color: #fff;
}

footer {
  background: #202020;
  color: white;
  padding-top: 20px;
}
.recursos a {
  color: white;
}

/*------------estilos para copyright------------*/
.copyright {
  color: #c7c7c7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #c7c7c7;
}

/* iconos de redes sociales*/

#facebook p {
  padding: 10px 25px;
  background: #3b5998;
  color: #ffffff;
  text-decoration: none;
  width: 55px;
  transition: all 0.4s ease;
  margin-bottom: 0px;
}

#facebook p:hover {
  background: #000;
  padding: 10px 40px;
}
#whats p {
  padding: 10px 20px;
  background: #4ac959;
  color: #ffffff;
  text-decoration: none;
  width: 55px;
  transition: all 0.4s ease;
  margin-bottom: 0px;
}

#whats p:hover {
  background: #000;
  padding: 10px 40px;
}

.footer-row h5::after {
  content: "";
  background: #c90803;
  display: block;
  height: 4px;
  width: 110px;
}
