@yellow: #b3d41d;
@green: #118316;
@red: #cc2310;
body {
  /*background-color: @yellow;*/
}
h1 {
  color: @red;
}
h4 {
  color: @green;
}
.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}
.padding(@right: 0px, @left: 0px) {
  padding-right: @right;
  padding-left: @left;
}

.jumbotron {
  .margenes(50px,0px);
  .padding(20px,20px);
}
footer {
  .margenes(10px,0px);
  .padding(20px,20px);
}

.card-hotel {
  .margenes(10px,0px);
  .padding(20px,20px);
}
