body {
  background-color: #3eecec; }

h1 {
  color: #e36456; }

h4 {
  color: #51fccf; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }
