body {
  /*background-color: @yellow;*/
}
h1 {
  color: #cc2310;
}
h4 {
  color: #118316;
}
.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
