$yellow: rgb(3, 19, 19);
$green: #51fccf;
$red: #e36456;
body {
    background-color: $yellow;
}

h1 {
    color: $red;
}

h4 {
    color: $green;
}

@mixin margin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($right, $left) {
    padding-right: $right;
    padding-left: $left;
}

.jumbotron {
    @include margin(50px, 0px);
    @include padding(10px, 10px);
}

footer {
    @include margin(10px, 0px);
    @include padding(10px, 10px);
}

.card-hotel {
    @include margin(10px, 0px);
    @include padding(10px, 10px);
}